@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Login";
}

<h2 class="text-center">Login</h2>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}
<form method="post" action="/Admin/Login" class="container w-50 mt-4">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" name="email" class="form-control" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" name="password" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary w-100">Login</button>

    <div class="text-center mt-3">
        <span>Don't have an account? </span>
        <a href="@Url.Action("Register", "Admin")" class="text-decoration-none">Register here</a>
    </div>
</form>
